* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}

.appHeader {
  width: 100vw;
  height: 40px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.appHeader button {
  flex-grow: 1;
  border: 1px solid slategray;
  background-color: lightgrey;
  color: black;
}

.appHeader button[disabled] {
  border: 1px solid black;
}

.appHeader button:hover {
  cursor: pointer;
  opacity: 1;
}

.appHeader button[disabled]:hover {
  cursor: default;
}

main {
  padding: 0 10px 0 35px;
  position: absolute;
  top: 60px;
}

li {
  margin-bottom: 10px;
}

th,
td {
  text-align: center;
  padding: 5px;
  border: 1px solid gray;
}

th {
  text-transform: capitalize;
}
